// Custom.scss
// Option A: Include all of Bootstrap

//Paleta de Colores
$principal: #3d5a80;
$segundo: #98c1d9;
$tercero: #e0fbfc;
$cuarto: #ee6c4d;
$quinto: #293241;

//Bootstrap
$primary:       $principal;
$secondary:     $segundo;
$success:       $tercero;
$info:          $cuarto;
$warning:       $quinto;

$enable-shadows: true;
$enable-gradients: true;

$btn-padding-y:               0.5rem;
$btn-padding-x:               0.5rem;

$navbar-dark-color:                 $tercero;
$navbar-dark-hover-color:           $segundo;

$navbar-light-brand-color:          $cuarto;
$navbar-light-brand-hover-color:    $tercero;

$navbar-light-color:                $tercero;
$navbar-light-hover-color:          $segundo;

/*
$offcanvas-padding-y:               $modal-inner-padding;
$offcanvas-padding-x:               $modal-inner-padding;
$offcanvas-horizontal-width:        400px;
$offcanvas-vertical-height:         30vh;
$offcanvas-transition-duration:     .3s;
$offcanvas-border-color:            $modal-content-border-color;
$offcanvas-border-width:            $modal-content-border-width;
$offcanvas-title-line-height:       $modal-title-line-height;
$offcanvas-bg-color:                $modal-content-bg;
$offcanvas-color:                   $modal-content-color;
$offcanvas-box-shadow:              $modal-content-box-shadow-xs;
*/

/*
$accordion-padding-y:                     1rem;
$accordion-padding-x:                     1.25rem;
$accordion-color:                         $body-color;
$accordion-bg:                            $body-bg;
$accordion-border-width:                  $border-width;
$accordion-border-color:                  rgba($black, .125);
$accordion-border-radius:                 $border-radius;
$accordion-inner-border-radius:           subtract($accordion-border-radius, $accordion-border-width);

$accordion-body-padding-y:                $accordion-padding-y;
$accordion-body-padding-x:                $accordion-padding-x;

$accordion-button-padding-y:              $accordion-padding-y;
$accordion-button-padding-x:              $accordion-padding-x;
$accordion-button-color:                  $accordion-color;
$accordion-button-bg:                     $accordion-bg;
$accordion-transition:                    $btn-transition, border-radius .15s ease;
$accordion-button-active-bg:              tint-color($component-active-bg, 90%);
$accordion-button-active-color:           shade-color($primary, 10%);

$accordion-button-focus-border-color:     $input-focus-border-color;
$accordion-button-focus-box-shadow:       $btn-focus-box-shadow;

$accordion-icon-width:                    1.25rem;
$accordion-icon-color:                    $accordion-color;
$accordion-icon-active-color:             $accordion-button-active-color;
$accordion-icon-transition:               transform .2s ease-in-out;
$accordion-icon-transform:                rotate(-180deg);

$accordion-button-icon:         url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$accordion-icon-color}'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
$accordion-button-active-icon:  url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$accordion-icon-active-color}'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
*/

// Include any default variable overrides here (though functions won't be available)

@import "../node_modules/bootstrap/scss/bootstrap";

//Customized Settings
.btn-primary {
    border-bottom: 3px solid #293241;
}

.btn-secondary {
    border-bottom: 3px solid #293241;
}

p {
    text-align: justify; text-justify: inter-word;
    font-size: 18px;
}

h1 {
    color: $tercero;
    padding: 1.5rem;
    font-weight: bolder;
} 
body {
    font-family: 'Rajdhani', sans-serif;
}

img {
    color: $tercero;
}

.navbar-toggler-icon {
    color: $tercero;
}

a {
    white-space: nowrap;
}

figcaption {
    justify-self: end;
}