// Custom.scss
// Option A: Include all of Bootstrap

//Paleta de Colores
$principal: #1a1a39;
$segundo: #d52a28;
$tercero: #f7b535;
$cuarto: #eff0f2;
$quinto: #a2999e;

//Bootstrap
$primary:       $principal;
$secondary:     $segundo;
$success:       $tercero;
$info:          $cuarto;
$warning:       $quinto;

//Buttons
$enable-shadows: true;
$enable-gradients: true;

$btn-padding-y:               0.5rem;
$btn-padding-x:               0.5rem;

$btn-close-color:            $info;

//Navbar

$navbar-dark-color:                 $primary ;
$navbar-dark-brand-color:           $secondary;
$navbar-dark-brand-hover-color:     $warning;
$navbar-dark-color:                 rgba($color: $success, $alpha: 0.75);

//Modal

$modal-content-bg:                  $info;
$modal-backdrop-bg:                 $warning;

//Accordion 

$accordion-bg:                      rgba($color: $secondary, $alpha: 0.1);
$accordion-button-bg:               rgba($color: $secondary, $alpha: 0.2);
$accordion-button-active-bg:        rgba($color: $secondary, $alpha: 0.5);
$accordion-button-active-color:     #FFFFFF;

// Include any default variable overrides here (though functions won't be available)

@import "../node_modules/bootstrap/scss/bootstrap";

//Customized Settings
//Classes
.navbar{
    background-color: $primary;
    color: $secondary;
    justify-content: center;
}

.navbar-brand {
    color: $secondary;
    padding-left: 2rem;
    font-size: xx-large;
}

.container {
    padding-top: 6rem;
}


.btn-primary {
    border-bottom: 3px solid $secondary;
}

.btn-secondary {
    border-bottom: 3px solid $primary;
}

.navbar-toggler-icon {
    color: $secondary;
}

.footer {
    justify-content: center;
    text-align: center;
    text-decoration: none;
}
//Tags
p {
    text-align: justify; text-justify: inter-word;
    font-size: 18px;
}

h1 {
    color: $tercero;
    padding: 1.5rem;
    font-weight: bolder;
} 
h2 {
    padding: 1.5rem;
    font-weight: bolder;
    text-align: center;
    color: $tercero;
}
body {
    font-family: 'Rajdhani', sans-serif;
}

img {
    color: $tercero;
}

a {
    white-space: nowrap;
    text-decoration: none;
}


figcaption {
    justify-self: end;
}

//Ids
#titlePortfolio {
    background-color: #ee6c4d;
}

#contactHeader {
    background-color: $primary;
    opacity: .5;
    height: 3rem;
}

#educationHeader {
    background-color: $secondary;
    opacity: .5;
    height: 3rem;
}

#experienceHeader {
    background-color: $success;
    opacity: .5;
    height: 3rem;
}

#contactCard {
    background-color: rgba($color: $primary, $alpha: 0.05);
}

#educationCard {
    background-color: rgba($color: $secondary, $alpha: 0.05);
}

#experienceCard {
    background-color: rgba($color: $success, $alpha: 0.05);
}

#modalHeaderEducation {
    background-color: $secondary;
    opacity: .5;
    color: #FFFFFF;
}

#modalHeaderExperience {
    background-color: $success;
    opacity: .5;
    color: $primary;
}

#summaryCard {
    background-color: rgba($color: $info, $alpha: 0.5);
    border: 3px solid rgba($color: $primary, $alpha: 0.2);
}

#skillsCard {
    background-color: rgba($color: $primary, $alpha: 0.05);
}

#toolsCard {
    background-color: rgba($color: $secondary, $alpha: 0.05);
}

#skillsHeader {
    background-color: $primary;
    opacity: .5;
    height: 3rem;
}

#toolsHeader {
    background-color: $secondary;
    opacity: .5;
    height: 3rem;
}

#portfolio {
    background-color: rgba($color: $info, $alpha: 0.5);
}

#hotel {
    background-color: rgba($color: $primary, $alpha: 0.5);
}
